<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Dancing+Script:wght@400;700&family=Dosis:wght@200&family=Lilita+One&family=Montserrat:ital,wght@0,300;1,100&family=Permanent+Marker&family=Playfair&family=Rowdies&family=Rubik+Dirt&display=swap" rel="stylesheet">
<div class="container">
    <div class="upper" [ngStyle]="{'backgroundImage':current_temp<20 ? 'url(./assets/cold.jpg)' : 'url(./assets/hot.jpg)'}">
   <form action="">
    <input type="text" name="cityName"  [(ngModel)]="city">
    <button type="button" (click)="getWeather()">GO</button>
   </form>
      <div class="location" >
     <!--<h2>{{city}}</h2>--> 
            <h1 [ngStyle]="{'color':current_temp>20 ? ' #8f6539' : '#404040'}">{{current_temp}} °C</h1>
      </div>
    </div>
    <div class="lower">
   
     <div class="temperature">
      <p><img src="assets/max.png"><span id='highest'>{{max_temp}} °C</span></p> 
      <p><img src="assets/min.png"><span id="lowest">{{min_temp}} °C</span></p>
     </div>
     <div class="air-info">
        <p><img src="assets/humidity.png" alt=""><span id="humidity">{{humidity}} %</span></p>
        <p><img src="assets/wind.png" alt=""><span id="wind">{{wind}}<br>km/h</span></p>

    </div>
    </div>
  </div>
